.about-content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 50px;
	width: content-box;
}

.about-content .portrait {
	border-radius: 50%;
	align-self: center;
	margin-left: auto;
	margin-right: auto;
}

.about-content .introduction {

}

.about-content .skill-statement {
	font-weight: bold;
}

.about-content .my-skills {
	list-style-type: none;
	display: block;
	padding: 0;
	margin-left: -10px;
}

.about-content .my-skills li {
	width: fit-content;
	padding: 10px 20px;
	margin: 10px;
	float: left;

	background-color: blue;
	color: white;
	box-shadow: 5px 5px 0 darkblue;

	font-weight: bold;
	text-transform: capitalize;
}