.experience {
	font-family: avenir;
	padding: 0;
	margin-top: 73px;
	margin-left: 100px;
	margin-right: 100px;

	display: flex;
	flex-direction: column;
}

.title {
	font-size: 70px;
	text-align: center;
}

.experiences {
	margin-left: 150px;
	margin-right: 150px;
}

